body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
  background:inherit;
  background-color:rgba(32, 33, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:106px;
  width:375px;
  height:21px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:12px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:110px;
  width:351px;
  height:12px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:166px;
  width:375px;
  height:604px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:222px;
  width:376px;
  height:542px;
  overflow:hidden;
}
#u235_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:542px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#888888;
  line-height:24px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:576px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#888888;
  line-height:24px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(32, 33, 38, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 33, 38, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:126px;
  width:375px;
  height:40px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:136px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:138px;
  width:10px;
  height:16px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:6px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:143px;
  width:27px;
  height:6px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:131px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u247 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:131px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:176px;
  width:73px;
  height:36px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
