body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
  background:inherit;
  background-color:rgba(32, 33, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:106px;
  width:375px;
  height:21px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:12px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:110px;
  width:351px;
  height:12px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:166px;
  width:375px;
  height:604px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(32, 33, 38, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 33, 38, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:126px;
  width:375px;
  height:40px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:136px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:138px;
  width:10px;
  height:16px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:131px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:51px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:166px;
  width:363px;
  height:50px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:351px;
  word-wrap:break-word;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:216px;
  width:363px;
  height:50px;
  font-size:20px;
  text-align:left;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:351px;
  word-wrap:break-word;
}
#u1127 {
  position:absolute;
  left:34px;
  top:266px;
}
#u1127_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background-image:none;
}
#u1127_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u1128_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1128.mouseDown {
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:351px;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:19px;
  width:7px;
  height:12px;
  font-size:14px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132 {
  position:absolute;
  left:34px;
  top:316px;
}
#u1132_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background-image:none;
}
#u1132_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u1133_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1133.mouseDown {
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:351px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:19px;
  width:7px;
  height:12px;
  font-size:14px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
